<template>
  <b-modal :active="active" @close="closeModal">
    <div class="card">
      <div
        v-if="title || icon"
        class="card-header">
        <div
          v-if="icon"
          class="card-header-title">
          <box-icon :icon="icon">
          </box-icon>
        </div>
        <div
          v-if="title"
          class="card-header-icon">
          {{ title }}
        </div>
      </div>
      <div class="card-content">
        <slot></slot>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'BoxModal',
  props: {
    active: Boolean,
    title: String,
    icon: String,
  },
  methods: {
    closeModal() {
      this.$emit('close')
    },
  },
}
</script>
