/* Base styles */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $gray-01;
}

#app {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  &>main {
    flex-grow: 1;
  }
}

main {
  padding: $pad-mobile;
  padding-top: $top-navbar-height;
  section {
    padding: $pad-section-desktop 0;
    @include mobile {
      padding: $pad-section-mobile 0;
    }
  }
  @include desktop {
    padding-top: $top-main-padding;
  }
}

div.buttons {
  display: flex;
  justify-content: flex-end;

  &.top {
    margin-bottom: $pad-general/2;
    padding-bottom: $pad-general/2;
    border-bottom: $generic-border;
  }

  &.bottom {
    margin-top: $pad-general/2;
    padding-top: $pad-general/2;
    border-top: $generic-border;
  }
}

div.empty {
  color: $gray-13;
  background-color: $white;
  border: $generic-border;
  border-radius: $generic-border-radius;
  box-shadow: $generic-box-shadow;
  padding: $pad-general/2;
  width: 100%;
  text-align: center;
}
