// Import Bulma core
@import '~bulma/sass/utilities/_all';

// Bulma Overrides
$family-primary: "Work Sans", sans-serif;

// Import Bulma styles
@import '~bulma';


/* Margins and Paddings */
$pad-general: 50px;
$pad-mobile: 20px;
$pad-section-desktop: 3rem;
$pad-section-mobile: 1rem;

/* Generic variables */
$generic-border: 1px solid rgba(0, 0, 0, 0.1);
$generic-border-radius: 4px;
$generic-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

/* Navbar variables */
$navbar-top-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
$navbar-bottom-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
$navbar-top-background-color: $gray-13;
$navbar-top-link-color: $iuvia-primary;
$navbar-top-background-color-active: $gray-12;
$navbar-top-link-color-active: $white;

$navbar-bottom-background-color: $white;
$navbar-bottom-background-color-active: $gray-01;
$navbar-bottom-link-color: $iuvia-primary;
$navbar-bottom-link-color-active: $iuvia-primary;

$top-navbar-height: calc(#{$navbar-height} + 2*#{$navbar-padding-vertical});
$top-navbar-box-sadow: $generic-box-shadow;
$bottom-navbar-box-sadow: none;
$top-main-padding: calc(#{$top-navbar-height} + #{$pad-general}/2);

/* Launcher style */
$launcher-border-radius: $generic-border-radius;
$launcher-box-shadow: $generic-box-shadow;

/* Session style */
$session-border-radius: $generic-border-radius;
$session-box-shadow: $generic-box-shadow;

/* Footer variables */
$footer-background-color: $gray-11;
$footer-color: white;
$footer-padding: 4rem 1.5rem 6rem;


