<template>
  <div>
  <nav class="breadcrumb no-mobile has-arrow-separator" aria-label="breadcrumbs">
    <ul>
      <li class="back-button" v-if="previousRoute">
        <router-link :to="previousRoute">
          <b-icon icon="chevron-left"></b-icon>
        </router-link>
      </li>
      <li
        v-for="crumb of crumbs"
        :key="crumb.name"
        :class="{'is-active': isActive(crumb) }">
        <router-link :to="crumb.path">{{ $t(crumb.name) }}</router-link>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
import BoxButton from '@/components/forms/Button.vue'

export default {
  name: 'BoxBreadcrumb',
  components: {
    BoxButton,
  },
  data() {
    return {
      crumbs: [],
    }
  },
  mounted() {
    this.init()
  },
  watch: {
    $route() {
      this.init()
    },
  },
  computed: {
    previousRoute() {
      const [currentRoute, lastRoute, ...rest] = this.crumbs.reverse()
      return lastRoute
    },
  },
  methods: {
    init() {
      this.crumbs = []
      this.getBreadcrumbParent(this.$route)
    },
    getBreadcrumbParent(route) {
      if (
        Object.prototype.hasOwnProperty.call(route.meta, 'breadcrumbParent')
        && route.meta.breadcrumbParent !== null
      ) {
        this.getBreadcrumbParent(this.$router.matcher.match({ name: route.meta.breadcrumbParent }))
      }
      this.crumbs.push(route)
    },
    isActive(route) {
      return route.name === this.$route.name
    },
  },
}
</script>

<style lang="scss">
@import '../../styles/components/breadcrumb.scss';
</style>
