<template>
  <div class="launcherlist columns is-mobile is-multiline">
    <div
      class="empty"
      v-if="items.length === 0">
      {{ $t('There are no launchers available') }}
    </div>
    <box-launcher-item
      v-for="item of items"
      :key="item.id"
      :item="item">
    </box-launcher-item>
  </div>
</template>

<script>
import BoxLauncherItem from './LauncherItem.vue'

export default {
  name: 'BoxLauncherList',
  components: {
    BoxLauncherItem,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss">
@import '../../styles/components/launcher.scss';
</style>
