<template>
  <div class="column is-half-mobile is-one-quarter-tablet is-one-fifth-desktop">
    <div
      class="card launcher"
      @click="performAction">
      <div>
        <box-tooltip
          :label="item.platform">
          <box-icon
            :icon="platformIcon"
            type="is-primary"
            size="is-small">
          </box-icon>
        </box-tooltip>
        <span class="label">{{ item.name }}</span>
      </div>
      <img
        class="thumbnail"
        :src="iconUrl"/>
      <span class="description">{{ item.description }}</span>
    </div>
  </div>
</template>

<script>
import BoxIcon from '@/components/interfaces/Icon.vue'
import BoxTooltip from '@/components/interfaces/Tooltip.vue'

import utils from '@/utils'
import settings from '@/settings'

export default {
  name: 'BoxLauncherItem',
  components: {
    BoxIcon,
    BoxTooltip,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    iconUrl() {
      // We get:
      // 1. Preferred icon size, if available
      // 2. Largest icon size available, if prefferred is not there
      // 3. Default icon image, if no sizes are available
      let url
      if (this.item.icon_sizes.indexOf(settings.PREFERRED_ICON_SIZE)) {
        url = this.item.icon_urls[settings.PREFERRED_ICON_SIZE.toString()]
      } else if (this.item.icon_sizes.length > 0) {
        const size = Math.max(...this.item.icon_sizes)
        url = this.item.icon_urls[size.toString()]
      } else {
        url = this.item.icon_urls['default']
      }
      return utils.pathJoin([settings.URLS.APP.BASE, url])
    },
    platformIcon() {
      return utils.deviceIcon(this.item.platform)
    },
  },
  methods: {
    performAction() {
      if (this.item.action_type === 'WEB' && this.item.action_params) {
        const win = window.open(this.item.action_params, '_blank')
        win.focus()
      } else {
        console.log(`PERFORM ACTION ${this.item.action_type} WITH PARAMS: ${this.item.action_params}`)
      }
    },
  },
}
</script>
