<template>
  <section>
    <div class="container">
      <div v-if="hasErrors">
        <box-message
          v-for="(error, index) in errors"
          :key="index"
          type="is-danger">
          {{ error }}
        </box-message>
      </div>
      <box-session-list
        :items="sessions"
        @reload="reload">
      </box-session-list>
      <div class="buttons bottom">
        <box-button
          :label="$t('Close all sessions')"
          type="is-primary"
          size="is-medium"
          @click="closeAll">
        </box-button>
      </div>
    </div>
  </section>
</template>

<script>
import authentication from '../../services/authentication'
import BoxSessionList from '../../components/sessions/SessionList.vue'
import BoxButton from '../../components/forms/Button.vue'
import BoxMessage from '../../components/interfaces/Message.vue'

export default {
  name: 'BoxSessionManager',
  components: {
    BoxButton,
    BoxMessage,
    BoxSessionList,
  },
  data() {
    return {
      sessions: [],
    }
  },
  computed: {
    errors() {
      return this.$store.getters.errors
    },
    hasErrors() {
      return this.$store.getters.hasErrors
    },
  },
  mounted() {
    this.loadSessions()
  },
  methods: {
    loadSessions() {
      authentication.getSessions().then(response => {
        this.sessions = response.data
      }).catch(err => {
        console.error(err)
        this.$store.commit('setErrors', err.response)
      })
    },
    reload() {
      this.loadSessions()
    },
    closeAll() {
      this.$store.dispatch('logoutAll').then(() => {
        this.$router.push('/login')
      }).catch(err => {
        this.$store.commit('setErrors', err.response)
      })
    },
  },
}
</script>
