<template>
  <section>
    <div class="container settings-menu">
      <box-button
        v-for="(option, index) of options"
        :key="index"
        :label="option.label"
        :icon="option.icon"
        :to="option.to"
        type="is-light"
        size="is-medium"
        tag="router-link">
      </box-button>
    </div>
  </section>
</template>

<script>
import BoxButton from '../../components/forms/Button.vue'

export default {
  name: 'BoxUserManager',
  components: {
    BoxButton,
  },
  data() {
    return {
      options: [
        {
          label: this.$t('Profile Management'),
          icon: 'account',
          to: { name: 'profile-manager' },
        },
        {
          label: this.$t('User Permissions'),
          icon: 'lock-outline',
          to: { name: 'user-manager' },
        },
        {
          label: this.$t('Language'),
          icon: 'translate',
          to: { name: 'user-manager' },
        },
        {
          label: this.$t('Date and Time'),
          icon: 'calendar-clock',
          to: { name: 'user-manager' },
        },
      ],
    }
  },
}
</script>
