.appimage {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;

  >div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  img.thumbnail {
    margin: 10px 0;
  }

  span.label {
    text-align: center;
    font-size: 1rem;
    color: $gray-11;
  }

  span.description {
    text-align: center;
    font-size: 0.75rem;
    color: $gray-13;
  }

  box-shadow: 0px 0px 3px 3px $gray-02;
  
  &.uninstalled {
  }

  &.installed {
    background-color: $iuvia-primary;
    span.label {
      color: $white;
    }
    span.description {
      color: $white;
    }
  }

  &.install_pending {

  }

  &.install_failed {

  }
  
  &.installing {

  }

  &.uninstalling {

  }

  &.uninstall_failed {

  }

  &.updating {

  }
}

.appinfo {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;

  .details {
    display: flex;
    flex-direction: column;
  }

  .appicon {
    margin-right: 30px;
  }
}

.appactions {
  display: flex;
  flex-direction: column;
  padding: 0 0 $pad-general 0;

  .button {
    margin: 5px 0;
    width: 100%;
  }
}
