<template>
  <section>
    <div class="container">
      <div class="dashboard-section">
        <div class="title">{{ $t('Favorite launchers') }}</div>
        <box-launcher-list
          :items="favLaunchers">
        </box-launcher-list>
      </div>

      <div class="dashboard-section">
        <div class="title">{{ $t('Usage information') }}</div>
        <div class="columns is-mobile is-multiline">
          <div class="column is-full-mobile is-half-tablet is-half-desktop">
            <box-pie-chart
              icon="harddisk"
              :title="$t('Disk usage')"
              :series="diskUsageSeries"
              :labels="diskUsageLabels">
            </box-pie-chart>
          </div>
          <div class="column is-full-mobile is-half-tablet is-half-desktop">
            <box-pie-chart
              icon="memory"
              type="pie"
              :title="$t('RAM usage')"
              :series="ramUsageSeries"
              :labels="ramUsageLabels">
            </box-pie-chart>
          </div>
        </div>
      </div>

      <div class="dashboard-section">
        <div class="title">{{ $t('Notifications') }}</div>
      </div>
    </div>
  </section>
</template>

<script>
import dashboard from '../services/dashboard'
import launchers from '../services/launchers'

import BoxLauncherList from '../components/launchers/LauncherList.vue'
import BoxPieChart from '../components/charts/PieChart.vue'

export default {
  name: 'BoxDashboard',
  components: {
    BoxLauncherList,
    BoxPieChart,
  },
  data() {
    return {
      favLaunchers: [],
      diskUsageSeries: [],
      diskUsageLabels: [],
      ramUsageSeries: [],
      ramUsageLabels: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.getDashboardData()
      this.getFavoriteLaunchers()
    },
    getDashboardData() {
      dashboard.getData().then(response => {
        this.diskUsageSeries = response.disk_usage.series
        this.diskUsageLabels = response.disk_usage.labels
        this.ramUsageSeries = response.ram_usage.series
        this.ramUsageLabels = response.ram_usage.labels
      }).catch(err => {
        console.log(err)
        this.$store.commit('setErrors', err.response)
      })
    },
    getFavoriteLaunchers() {
      launchers.getFavoriteLaunchers().then(response => {
        this.favLaunchers = response.data.results
      }).catch(err => {
        // TODO handle launcher list error
        console.log(err)
      })
    },
  },
}
</script>

<style scoped lang="scss">
@import '../styles/components/dashboard.scss';
</style>
