<template>
  <div>
    <box-header>
    </box-header>
    <main>
      <section>
        <div class="container">
          <box-breadcrumb></box-breadcrumb>
        </div>
      </section>
      <router-view></router-view>
    </main>
    <box-footer>
    </box-footer>
  </div>
</template>

<script>
import BoxBreadcrumb from '../components/layout/Breadcrumb.vue'
import BoxFooter from '../components/layout/Footer.vue'
import BoxHeader from '../components/layout/Header.vue'

export default {
  name: 'BoxHome',
  components: {
    BoxBreadcrumb,
    BoxFooter,
    BoxHeader,
  },
}
</script>
